form{
    color: #002452;
    width: 400px;
    margin: 0 auto;
    border: 1px solid #002452;
    border-radius: 10px;
    padding: 10px;
    
}

label{
    width: 100px;
}

input{
    width: 100%;
}

button{
    background-color: white;
    border: 1px solid #002452;
    margin: 10px 0;
}

body{
    font-family: 'Average Sans', sans-serif;
    background-color: beige;
}

